body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #21232a
}

.todo-container {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.todo-header {
    background-color: #d8b3b3;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
}

.todo-input {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.todo-input input {
    flex-grow: 1;
    border: none;
    padding: 5px;
    font-size: 1em;
}

.todo-input button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.todo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border-bottom: 1px solid #5c6bc0;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-actions {
    margin-left: auto;
}

.todo-actions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
    margin-left: 5px;
}

.edit-btn {
    color: #4CAF50;
}

.delete-btn {
    color: #f44336;
}